  .heading{
    color: red;
    text-align: center;
  }
  body {
    background-color: black;
    color: white;
  }
  h1{
    display: block;
    font-size: 2rem;
  }
  #Text{
    color: white;
  }
  p{
    display: block;
  }
  ul{
    display: block;
  }